<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular App</title>
</head>
<body>   
    <div ng-controller="MyCtrl">
        input1 <input type="text" ng-model="input1">
        <br>
        input2 <input type="text" ng-model="input2">
        <div>
            <div id="result">
                Result is {{result}}
            </div>
            <button ng-click="calculate('add')">+</button>
            <button ng-click="calculate('sub')">-</button>
            <button ng-click="calculate('mul')">*</button>
            <button ng-click="calculate('div')">/</button>
        </div>

    </div>
    
    <script src="angular.js"></script>
    <script src="app.js"></script>
</body>
</html>  