<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular App</title>
</head>
<body>
    <div ng-controller="MyCtrl">
        {{title}}

        <input type="text" ng-model="title">
        
        <button ng-click="sayHi()">Click me</button>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>DOB</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="st in students">
                    <td>{{st.name}}</td>
                    <td>{{st.department}}</td>
                    <td>{{st.dob}}</td>
                    <td>
                        <button ng-click="onStudentSelect(st)">
                            View
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div id="student-details" ng-if="selectedStudent">
            Selected Student is {{selectedStudent.name}}
        </div>

    </div>
    
    <script src="angular.js"></script>
    <script src="app.js"></script>
</body>
</html>  